In [1]:
import pandas as pd
import numpy as np

In [2]:
test = pd.read_csv('test.csv')

In [4]:
bayes = pd.read_csv('lgb_bayes_10k.csv')

In [6]:
dist = pd.read_csv('distance.csv')

In [20]:
median = pd.read_csv('stack_median.csv')

In [22]:
median.loc[test['type'] == '1JHN', 'scalar_coupling_constant'] = bayes.loc[test['type'] == '1JHN', 'scalar_coupling_constant']

In [23]:
median.loc[test['type'] == '2JHN', 'scalar_coupling_constant'] = bayes.loc[test['type'] == '2JHN', 'scalar_coupling_constant']

In [25]:
median.to_csv('median_bayes.csv', index=False)

In [10]:
bayes

              id  scalar_coupling_constant
0        4658147                 18.679459
1        4658148                162.162933
2        4658149                 10.099482
3        4658150                162.162933
4        4658151                 18.679459
5        4658152                 92.420975
6        4658153                  2.821239
7        4658154                 -7.545513
8        4658155                 -9.600138
9        4658156                 92.414619
10       4658157                  2.846341
11       4658158                 -9.607889
12       4658159                 83.814987
13       4658160                 10.966368
14       4658161                  2.821239
15       4658162                 92.420975
16       4658163                 -7.543633
17       4658164                 -9.600138
18       4658165                  2.846341
19       4658166                 92.416908
20       4658167                 -9.607889
21       4658168                 10.966368
22       4658169                 83.814987
23       4658170                108.395546
24       4658171                 -1.096275
25       4658172                 -1.093271
26       4658173                 -3.570605
27       4658174                  4.025569
28       4658175                  7.513035
29       4658176                  7.510258
...          ...                       ...
2505512  7163659                116.608398
2505513  7163660                  2.831085
2505514  7163661                  1.400788
2505515  7163662                  2.113406
2505516  7163663                  1.193682
2505517  7163664                  2.336937
2505518  7163665                  3.583386
2505519  7163666                  1.078507
2505520  7163667                  3.757866
2505521  7163668                125.258072
2505522  7163669                  7.250085
2505523  7163670                  1.078507
2505524  7163671                  3.757866
2505525  7163672                  2.068321
2505526  7163673                  4.529815
2505527  7163674                  3.668147
2505528  7163675                  9.694706
2505529  7163676                  3.494425
2505530  7163677                 -0.207177
2505531  7163678                 -0.218432
2505532  7163679                104.989006
2505533  7163680                  7.981245
2505534  7163681                  1.149257
2505535  7163682                  0.282513
2505536  7163683                  2.113406
2505537  7163684                  1.193682
2505538  7163685                  2.831085
2505539  7163686                  1.400788
2505540  7163687                  5.642377
2505541  7163688                116.547989

[2505542 rows x 2 columns]

In [16]:
dist

              id  scalar_coupling_constant
0        4658147                 22.673035
1        4658148                146.205200
2        4658149                  9.503328
3        4658150                146.205200
4        4658151                 22.673035
5        4658152                 91.626915
6        4658153                  2.746282
7        4658154                 -7.511728
8        4658155                 -9.589906
9        4658156                 91.629890
10       4658157                  2.764879
11       4658158                 -9.591513
12       4658159                 83.368958
13       4658160                 11.033603
14       4658161                  2.746282
15       4658162                 91.626915
16       4658163                 -7.512406
17       4658164                 -9.589906
18       4658165                  2.764879
19       4658166                 91.631653
20       4658167                 -9.591513
21       4658168                 11.033603
22       4658169                 83.369995
23       4658170                108.532692
24       4658171                 -1.036155
25       4658172                 -1.033798
26       4658173                 -3.603294
27       4658174                  3.442004
28       4658175                  7.482970
29       4658176                  7.599586
...          ...                       ...
2505512  7163659                114.902519
2505513  7163660                  3.041224
2505514  7163661                  1.757017
2505515  7163662                  2.313935
2505516  7163663                  1.014480
2505517  7163664                  2.125098
2505518  7163665                  3.583907
2505519  7163666                  1.068214
2505520  7163667                  3.602084
2505521  7163668                125.914551
2505522  7163669                  8.188670
2505523  7163670                  1.068214
2505524  7163671                  3.602084
2505525  7163672                  1.922097
2505526  7163673                  4.215287
2505527  7163674                  3.668147
2505528  7163675                 10.451875
2505529  7163676                  3.408870
2505530  7163677                 -0.220585
2505531  7163678                 -0.048031
2505532  7163679                103.632072
2505533  7163680                  7.974327
2505534  7163681                  1.370898
2505535  7163682                  0.198893
2505536  7163683                  2.313935
2505537  7163684                  1.014480
2505538  7163685                  3.041224
2505539  7163686                  1.757017
2505540  7163687                  4.989102
2505541  7163688                114.905891

[2505542 rows x 2 columns]

In [19]:
dist.to_csv('1JHN_2JHN_3JHN.csv', index=False)

In [8]:
dist

              id  scalar_coupling_constant
0        4658147                 22.673035
1        4658148                146.205200
2        4658149                  9.503328
3        4658150                146.205200
4        4658151                 22.673035
5        4658152                 91.626915
6        4658153                  2.746282
7        4658154                 -7.511728
8        4658155                 -9.589906
9        4658156                 91.629890
10       4658157                  2.764879
11       4658158                 -9.591513
12       4658159                 83.368958
13       4658160                 11.033603
14       4658161                  2.746282
15       4658162                 91.626915
16       4658163                 -7.512406
17       4658164                 -9.589906
18       4658165                  2.764879
19       4658166                 91.631653
20       4658167                 -9.591513
21       4658168                 11.033603
22       4658169                 83.369995
23       4658170                108.532692
24       4658171                 -1.036155
25       4658172                 -1.033798
26       4658173                 -3.603294
27       4658174                  3.442004
28       4658175                  7.482970
29       4658176                  7.599586
...          ...                       ...
2505512  7163659                114.902519
2505513  7163660                  3.041224
2505514  7163661                  1.757017
2505515  7163662                  2.313935
2505516  7163663                  1.014480
2505517  7163664                  2.125098
2505518  7163665                  3.583907
2505519  7163666                  1.068214
2505520  7163667                  3.602084
2505521  7163668                125.914551
2505522  7163669                  8.188670
2505523  7163670                  1.068214
2505524  7163671                  3.602084
2505525  7163672                  1.922097
2505526  7163673                  4.215287
2505527  7163674                  3.793799
2505528  7163675                 10.451875
2505529  7163676                  3.408870
2505530  7163677                 -0.220585
2505531  7163678                 -0.048031
2505532  7163679                103.632072
2505533  7163680                  7.974327
2505534  7163681                  1.370898
2505535  7163682                  0.198893
2505536  7163683                  2.313935
2505537  7163684                  1.014480
2505538  7163685                  3.041224
2505539  7163686                  1.757017
2505540  7163687                  4.989102
2505541  7163688                114.905891

[2505542 rows x 2 columns]

In [9]:
test

              id     molecule_name  atom_index_0  atom_index_1  type
0        4658147  dsgdb9nsd_000004             2             0  2JHC
1        4658148  dsgdb9nsd_000004             2             1  1JHC
2        4658149  dsgdb9nsd_000004             2             3  3JHH
3        4658150  dsgdb9nsd_000004             3             0  1JHC
4        4658151  dsgdb9nsd_000004             3             1  2JHC
5        4658152  dsgdb9nsd_000015             3             0  1JHC
6        4658153  dsgdb9nsd_000015             3             2  3JHC
7        4658154  dsgdb9nsd_000015             3             4  2JHH
8        4658155  dsgdb9nsd_000015             3             5  2JHH
9        4658156  dsgdb9nsd_000015             4             0  1JHC
10       4658157  dsgdb9nsd_000015             4             2  3JHC
11       4658158  dsgdb9nsd_000015             4             5  2JHH
12       4658159  dsgdb9nsd_000015             5             0  1JHC
13       4658160  dsgdb9nsd_000015             5             2  3JHC
14       4658161  dsgdb9nsd_000015             6             0  3JHC
15       4658162  dsgdb9nsd_000015             6             2  1JHC
16       4658163  dsgdb9nsd_000015             6             7  2JHH
17       4658164  dsgdb9nsd_000015             6             8  2JHH
18       4658165  dsgdb9nsd_000015             7             0  3JHC
19       4658166  dsgdb9nsd_000015             7             2  1JHC
20       4658167  dsgdb9nsd_000015             7             8  2JHH
21       4658168  dsgdb9nsd_000015             8             0  3JHC
22       4658169  dsgdb9nsd_000015             8             2  1JHC
23       4658170  dsgdb9nsd_000016             3             0  1JHC
24       4658171  dsgdb9nsd_000016             3             1  2JHC
25       4658172  dsgdb9nsd_000016             3             2  2JHC
26       4658173  dsgdb9nsd_000016             3             4  2JHH
27       4658174  dsgdb9nsd_000016             3             5  3JHH
28       4658175  dsgdb9nsd_000016             3             6  3JHH
29       4658176  dsgdb9nsd_000016             3             7  3JHH
...          ...               ...           ...           ...   ...
2505512  7163659  dsgdb9nsd_133885            12             3  1JHC
2505513  7163660  dsgdb9nsd_133885            12             4  2JHC
2505514  7163661  dsgdb9nsd_133885            12             6  3JHC
2505515  7163662  dsgdb9nsd_133885            12             7  3JHC
2505516  7163663  dsgdb9nsd_133885            12             8  2JHC
2505517  7163664  dsgdb9nsd_133885            12            13  3JHH
2505518  7163665  dsgdb9nsd_133885            12            15  3JHH
2505519  7163666  dsgdb9nsd_133885            13             2  3JHC
2505520  7163667  dsgdb9nsd_133885            13             3  2JHC
2505521  7163668  dsgdb9nsd_133885            13             4  1JHC
2505522  7163669  dsgdb9nsd_133885            13             6  3JHC
2505523  7163670  dsgdb9nsd_133885            13             7  3JHC
2505524  7163671  dsgdb9nsd_133885            13             8  2JHC
2505525  7163672  dsgdb9nsd_133885            13            15  3JHH
2505526  7163673  dsgdb9nsd_133885            14             0  3JHC
2505527  7163674  dsgdb9nsd_133885            14             1  2JHN
2505528  7163675  dsgdb9nsd_133885            14             2  3JHC
2505529  7163676  dsgdb9nsd_133885            14             3  3JHC
2505530  7163677  dsgdb9nsd_133885            14             4  3JHC
2505531  7163678  dsgdb9nsd_133885            14             6  2JHC
2505532  7163679  dsgdb9nsd_133885            14             7  1JHC
2505533  7163680  dsgdb9nsd_133885            14             8  2JHC
2505534  7163681  dsgdb9nsd_133885            14            15  3JHH
2505535  7163682  dsgdb9nsd_133885            15             1  3JHN
2505536  7163683  dsgdb9nsd_133885            15             2  3JHC
2505537  7163684  dsgdb9nsd_133885            15             3  2JHC
2505538  7163685  dsgdb9nsd_133885            15             4  2JHC
2505539  7163686  dsgdb9nsd_133885            15             6  3JHC
2505540  7163687  dsgdb9nsd_133885            15             7  2JHC
2505541  7163688  dsgdb9nsd_133885            15             8  1JHC

[2505542 rows x 5 columns]